@keyframes result {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

button.Rock {
  background-image: url("/assets/images/Rock.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
button.Paper {
  background-image: url("/assets/images/Paper.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
button.Scissors {
  background-image: url("/assets/images/Scissors.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
}
